body{
    text-align: center;
    size: 100vh;
    background: linear-gradient(-45deg, red, green, lightcoral, lightblue, lightyellow, lightgray, yellowgreen, blue, yellow, purple, orange, cyan, black, gray,chartreuse,crimson,darkgoldenrod,gold, red);
    background-size: 10000%;
    animation: loop ease-in-out 20s infinite;
}

@keyframes loop{
    0%{
        background-position: 0% 50%
    }
    50%{
        background-position: 50% 50%
    }
    100%{
        background-position: 100% 50%
    }
}